<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <script src='/javascripts/jquery-2.1.4.min.js'></script>
        <script src='/socket.io/socket.io.js'></script>

        <script src='/javascripts/admin.js'></script>
    </head>
    <body>
        <table id='panes'>
            <tr id='grid-pane'>
                <td>
                    <table id="grid">
                    </table>
                </td>
            </tr>
            <tr id='players-pane'>
                <td>
                    <table id="players">
                        <tr id="names"></tr>
                        <tr id="scores"></tr>
                    </table>
                </td>
            </tr>
        </table>

        <div id='overlay-outer'>
            <div class="overlay-pad"></div>
            <div id='overlay'></div>
            <div class="overlay-pad"></div>
        </div>
    </body>
</html>
