<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src='/javascripts/jquery-2.1.4.min.js'></script>
    <script src='/socket.io/socket.io.js'></script>

    <script src='/javascripts/play.js'></script>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="test">Do nothing</button>
  </body>
</html>
