<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">

        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <script src='/javascripts/jquery-2.1.4.min.js'></script>
        <script src='/socket.io/socket.io.js'></script>

        <script src='/javascripts/player.js'></script>
    </head>
    <body>
        <table id='panes'>
            <tr id='player-pane'>
                <td>
                    <span id='myname'></span>
                    <br>
                    <span id='myscore'></span>
                </td>
            </tr>
        </table>
    </body>
</html>
