<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />

        <script src='/javascripts/jquery-2.1.4.min.js'></script>
        <script src='/socket.io/socket.io.js'></script>

        <script src='/javascripts/play.js'></script>
    </head>
    <body>
        <table id="grid">
            <thead>
            </thead>
            <tbody>
            </tbody>
        </table>
        <div id="overlay-outer"><div id="overlay"></div></div>
    </body>
</html>
