.fullsize {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    .fullsize;
}

.minimize-row {
    height: 1px;
}

#panes {
    .fullsize;

    border-spacing: 0;

    td {
        padding: 0;
    }
}

#grid {
    .fullsize;

    table-layout: fixed;

    vertical-align: middle;
    text-align: center;

    background-color: #007;

    td {
        background: linear-gradient(to bottom right, #44B, #00B);
        color: yellow;

        width: 100% / 6;
        height: 100% / 6;
    }

    thead td {
        font-size: 6vh;
        font-variant: small-caps;
        overflow: hidden;
    }

    tbody td {
        font-size: 8vh;

        &.active {
            cursor: pointer;

            &:hover {
                background: linear-gradient(to bottom right, #55B, #22B);
            }
        }
    }
}

#players {
    width: 100%;

    table-layout: fixed;

    vertical-align: middle;
    text-align: center;
}

#overlay-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;

    display: table;

    font-size: 10vh;
}

#overlay {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
