@gridblue: #071278;
@gridyellow: #d59f4c;

@font-face {
    font-family: 'Swiss911';
    src: url('/fonts/Swiss911BT-Compressed.ttf') format('truetype');
    font-weight: normal;
}

.fullsize {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html, body {
    .fullsize;
}

.minimize-row {
    height: 1px;
}

#panes {
    .fullsize;

    border-spacing: 0;

    td {
        padding: 0;
    }
}

#grid {
    .fullsize;

    table-layout: fixed;

    /*border-collapse: collapse;
    border-spacing: 0;*/

    vertical-align: middle;
    text-align: center;

    background-color: #007;

    td {
        background-color: @gridblue;
        color: @gridyellow;

        font-family: 'Swiss911';

        width: 100% / 6;
        height: 100% / 6;
    }

    .heading td {
        font-size: 6vh;
        font-variant: small-caps;
        overflow: hidden;

        color: lighten(@gridblue, 80%);
    }

    .values td {
        font-size: 10vh;
        text-shadow: 0.8vh 0.8vh 0 black;
        letter-spacing: 0.5vh;

        &.active {
            cursor: pointer;

            &:hover {
                background-color: lighten(@gridblue, 10%);
            }
        }
    }
}

#players-pane {
    height: 15%;
}

#players {
    width: 100%;

    table-layout: fixed;

    vertical-align: middle;
    text-align: center;

    background-color: blue;
    color: yellow;
    font-size: 5vh;

    height: 100%;
}

#overlay-outer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: red;
    color: white;

    display: table;
}

#overlay {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
